Xft.dpi: 96 
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
URxvt.internalBorder: 5

*font: xft:Deja Vu Sans Mono:pixelsize=10:Bold

! Fix font space
URxvt.letterSpace: -1

! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

! Perl extensions
URxvt.perl-ext:      default,url-select
URxvt.perl-ext-common: tabbedex,font-size

! URL selections
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.url-select.launcher:   /usr/bin/firefox -new-tab
URxvt.url-select.underline: true

! Tabbing
URxvt.tabbed.autohide: true
URxvt.tabbed.tabbar-fg: 1
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 0
URxvt.tabbed.tab-bg: 1

! Change font size
URxvt.keysym.C-1:     perl:font-size:increase
URxvt.keysym.C-2:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

URxvt.iso14755: false
URxvt.iso14755_52: false
 
! Cursor
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
 
! Pointer
URxvt.pointerBlank: true

! Remap Insert
URxvt.keysym.C-P: 

! Colours
*.background: #1f1f1f
*.foreground: #c0b18b
*.cursorColor:#c0b18b
*.colorBD:    #c0b18b
*.colorUL:    #c0b18b
*.colorIT:    #c0b18b

! BLK
*.color0:  #4a3637
*.color8:  #402e2e
! RED
*.color1:  #d17b49
*.color9:  #ac5d2f
! GRE
*.color2:  #7b8748
*.color10: #647035
! YEL
*.color3:  #af865a
*.color11: #8f6840
! BLU
*.color4:  #535c5c
*.color12: #444b4b
! MAG
*.color5:  #775759
*.color13: #614445
! CYA
*.color6:  #6d715e
*.color14: #585c49
! WHI
*.color7:  #c0b18b
*.color15: #978965
